<!doctype html>
<html ng-app>
<head>
	<title>Lainalaskuri</title>
	<meta name="author" content="Heikki Hokkanen" />
	<meta name="keywords" content="lainalaskuri, asuntolainalaskuri, annuiteetti" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	<script src="calc.js"></script>
	<link rel="stylesheet" type="text/css" href="calc.css" />
</head>
<body>

<h1>Lainalaskuri - annuiteetti</h1>

<div ng-controller="LoanCalc">

<div class="info">
<h2>Tiedot</h2>

<dl>

<dt>Lainan määrä (€):</dt>
<dd><input type="text" name="amount" ng-model="amount" ng-change="calc()" /></dd>

<dt>Vuosikorko (%):</dt>
<dd><input type="text" name="interest" ng-model="interest" ng-change="calc()" /></dd>

Laina-aika (vuosia):
<dd><input type="text" name="years" ng-model="years" ng-change="calc()" /></dd>

<input type="button" value="Laske" ng-click="calc()"/>

</dl>
</div>

<h2>Laskelma</h2>

<dl>
<dt>Kuukausierä:</dt>
<dd>{{monthly.toFixed(2)}} €</dd>

<dt>Kuukausierien määrä:</dt>
<dd>{{months.length}}</dd>

<dt>Lainan hinta yhteensä:</dt>
<dd>{{totalpaid.toFixed(2)}} €</dd>
</dl>

<h2>Lyhennyserät</h2>

<table>
<tr>
	<th>Erä</th>
	<th>Vuosi</th>
	<th>Kuukausi</th>
	<th>Korko</th>
	<th>Lyhennys</th>
	<th>Jäljellä</th>
</tr>
<tr ng-repeat="row in months">
	<td>{{row.0}}</td>
	<td>{{row.1}}</td>
	<td>{{row.2}}</td>
	<td>€ {{row.3.toFixed(2)}}</td>
	<td>€ {{row.4.toFixed(2)}}</td>
	<td>€ {{row.5.toFixed(2)}}</td>
</tr>
</table>

<div class="author">Copyright &copy; 2013 Heikki Hokkanen, license: <a href="http://www.gnu.org/licenses/agpl-3.0.txt">AGPLv3</a>.</div>

</div>

</body>
</html>
